<div *ngIf="getOlympicService().isLoaded()==true" class="h20 ">
    <div class=" text-center text-slate-950   align-middle my-5 py-6 text-xl font-semibold relative">

        <div class="text-white bg-teal-500 text-center rounded-md text-m w-60 mx-auto my-8 align-top"> {{
            getOlympicService().getCountryById(countryId) }}
        </div>
        <div>
            <app-button [url]='' [title]="'Back'" class="text-xs absolute top-6 right-0"></app-button>
        </div>
    </div>
</div>
<div *ngIf="getOlympicService().isLoaded()==true"
    class="border-2 border-black borer-col max-w-2 flex justify-center my-auto flex-col sm:flex-row  ">
    <app-card [title]="'Number of entries'" [data]="getOlympicService().getNumberOfEntriesById(countryId)"
        *ngIf="getOlympicService().isLoaded()==true"></app-card>
    <app-card [title]="'Total number of medals'" [data]="getOlympicService().getNumberOfMedalsById(countryId)"
        *ngIf="getOlympicService().isLoaded()==true"></app-card>
    <app-card [title]="'Total number of athletes'" [data]="getOlympicService().getNumberOfAthletesById(countryId)"
        *ngIf="getOlympicService().isLoaded()==true"></app-card>
</div>
<div *ngIf="getOlympicService().isLoaded()==true" class="flex justify-center m-10">
    <app-line-chart [dataId]="countryId"></app-line-chart>
</div>
<app-loader></app-loader>