<div *ngIf="loaded==true" class="h20 ">
    <div class="text-center align-middle my-5">
        {{ getOlympicService().getCountryById(param) }}
    </div>
</div>
<div *ngIf="loaded==true" class=" max-w-2 flex justify-center ">
    <!-- <div class="border-2 border-teal-500  w-40"></div> -->


    <app-card [title]="'Number of entries'" [medals]="getOlympicService().getNumberOfCountries()"
        *ngIf="loaded==true"></app-card>
    <app-card [title]="'Total number of medals'" [medals]="getOlympicService().getNumberOfCountries()"
        *ngIf="loaded==true"></app-card>
    <app-card [title]="'Total number of athletes'" [medals]="getOlympicService().getNumberOfCountries()"
        *ngIf="loaded==true"></app-card>


</div>
<div *ngIf="loaded==true" class="flex justify-center m-10">
    <app-line-chart></app-line-chart>
</div>

<div *ngIf="loaded==false" class="text-center align-middle">
    <h1>Loading</h1>
</div>

<div class="flex justify-center ">
    <a routerLink="">back</a>
</div>